*{
  margin:0;
  padding:0;
}
body{
  background:url('https://wallpaperaccess.com/full/187161.jpg');
  background-size:cover;
}
.heading{
  width:100%;
  text-align:center;
}

h1{
  text-align:center;
  padding:20px;
  background-color:lightgreen;
}
div.main{
    width:500px;
    height:400px;
    margin:150px auto 0px auto;
}

.register{
   background-color:rgba(0,0,0,0.5);
   width:100%;
   font-size:20px;
   border-radius:15px;
   border:1px solid rgba(255,255,255,0.3);
   box-shadow:2px 2px 15px rgba(0,0,0,0.3);
   color:#fff;
   height:200px;
}

input#rollno{
   width:300px;
   border:1px solid #ddd;
   border-radius:3px;
   outline:0;
   padding:10px;
   margin-top:30px;
   margin-left:70px;
   background-color:#fff;
   box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#email{
   width:300px;
   border:1px solid #ddd;
   border-radius:3px;
   outline:0;
   padding:10px;
   margin-top:30px;
   margin-left:70px;
   background-color:#fff;
   box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#submit{
    width:200px;
    padding:10px;
    margin-top:10px;
    margin-left:130px;
    font-size:16px;
    font-family:sans-serif;
    font-weight:600;
    border-radius:5px;
    background-color:rgba(250,100,0,0.8);
    color:#fff;
    border:1px solid rgba(255,255,0.3);
    box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);
    cursor:pointer;
}
